<div class="container">
  <input
    style="margin-left: 19px"
    type="text"
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearch()"
    placeholder="Search by Name"
    class="form-control"
  />
  <table class="table" style="margin: 20px">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Pokemon Name</th>
        <th scope="col">Types</th>
        <th scope="col">Abilities</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
       <ng-container *ngIf="searchTerm; else showAllData">
        <tr *ngFor="let list of filteredData; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img
              src="assets/download.jpeg "
              class="rounded-image"
              alt="Pokemon Image"
            />
          </td>
          <td>{{ list?.name }}</td>
          <td>
            <div *ngFor="let data of list.types">
              {{ data?.type?.name }}
            </div>
          </td>
          <td>
            <div *ngFor="let data of list.abilities">
              {{ data?.ability?.name }}
            </div>
          </td>
          <td>{{ list?.height }}</td>
          <td>{{ list?.weight }}</td>
          <td>
            <button
              class="btn-primary button"
              [routerLink]="['/pokemon-detail', list.id]"
            >
              View
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredData.length === 0">
          <td colspan="8">No results found</td>
        </tr>
      </ng-container>
      <ng-template #showAllData>
        <tr *ngFor="let list of allData; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img
              src="assets/download.jpeg "
              class="rounded-image"
              alt="Pokemon Image"
            />
          </td>
          <td>{{ list?.name }}</td>
          <td>
            <div *ngFor="let data of list.types">
              {{ data?.type?.name }}
            </div>
          </td>
          <td>
            <div *ngFor="let data of list.abilities">
              {{ data?.ability?.name }}
            </div>
          </td>
          <td>{{ list?.height }}</td>
          <td>{{ list?.weight }}</td>
          <td>
            <button
              class="btn-primary button"
              [routerLink]="['/pokemon-detail', list.id]"
            >
              View
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
